name: Release

on:
  release:
    types: [published]

jobs:
  release:
    name: Prepare release
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Update manifest version
        run: |
          VERSION="${{ github.event.release.tag_name }}"
          VERSION="${VERSION#v}"
          jq --arg version "$VERSION" '.version = $version' custom_components/ovms-hass/manifest.json > tmp.json && mv tmp.json custom_components/ovms-hass/manifest.json

      - name: Create release ZIP
        run: |
          cd custom_components
          zip -r ../ovms-hass.zip ovms-hass -x "ovms-hass/__pycache__/*"

      - name: Upload release asset
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ github.event.release.upload_url }}
          asset_path: ../ovms-hass.zip
          asset_name: ovms-hass.zip
          asset_content_type: application/zip
